spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:9090/realms/ecom_ms"
  cloud:
    discovery:
      enabled: true
    config:
      enabled: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest